@layer --system {
	/* PROPS ############################################################################## */
	:root {
		/* These are only mixed with system colors */
		--system-surface-color: color-mix(
			in oklab,
			color-mix(in oklab, var(--system-canvas) 95%, var(--system-canvas-text)) var(--system-cs-state),
			color-mix(in oklab, var(--system-canvas) 85%, var(--system-canvas-text))
		);
		--system-stroke-color: color-mix(in oklab, var(--system-canvas) 55%, var(--system-canvas-text));
		--system-invalid-color: color-mix(in oklab, var(--system-active-text) 90%, var(--system-canvas-text));

		--system-submit-button: var(--system-accent-color);
		--system-submit-button-text: var(--system-content-color-light);

		--system-content-color-light: color-mix(
			in oklab,
			var(--system-canvas) var(--system-cs-state),
			var(--system-canvas-text)
		);
		--system-content-color-dark: color-mix(
			in oklab,
			var(--system-canvas-text) var(--system-cs-state),
			var(--system-canvas)
		);
	}
}
